# Session files
*.session

# Database
*.db

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
.pythonlibs/

# Logs
*.log

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
temp/